/**********
Text styles
**********/

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #666;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #666;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666;
}

a {
  text-decoration: none;
  color: #9ecae1
}

a:hover {
  color: #377eb8;
}

.footer p {
  color: #ccc;
}
/**********
Div styles
**********/

#container {
  margin: 0px 10px;
  padding: 0px;
}

#staticContent {
  width: 625px;
  float: left;
}

#fenwickLinesDiv {
  margin-left: 625px;
  min-width: 300px;
  vertical-align: top;
}

#ptLinesDiv {
  display: inline-block;
  width: 305px;
  vertical-align: top;
}

#teamLegendDiv {
  width: 35px;
  display: inline-block;
  vertical-align: top;
}

#gameWhiskersDiv {
   width: 255px; /* Should equal (82 * (whiskerWidth + whiskerGap)) + left-margin + right-margin */
   display: inline-block;
   vertical-align: top;
}

#gameWhiskersAnchorLabelsDiv {
   width: 30px;
   display: inline-block;
   vertical-align: top;
}

.title {
  display: inline-block;
  margin-right: 30px;
}

.selector {
  display: inline-block;
  cursor: pointer;
}

.footer {
  clear: both;
  float: right;
}

#gameWhiskerNote:hover {
  color: #9ecae1;
}

/**********
Navigation-specific styling
**********/

ul {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 15px;
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding-left: 0px;
    cursor: default;
}

li {
  display: inline;
  padding: 2px 7px;
  color: #377eb8;
  border-radius: 2px;
}

li:hover {
  color: #9ecae1;
}

li:active {
  color: #377eb8;
}

li.active {
  color: #377eb8;
  background-color: #c6dbef;
}

/**********
SVG
**********/

text {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* vertical rule for the y-axis and horizontal rule for the x-axis */
.axis path {
  fill: none;
  stroke: none;
  stroke-width: 0;
}

/* axis ticks */
.axis line {
  fill: none;
  stroke: none;
  stroke-width: 0;
}

text.axis {
  text-anchor: end;
}

text.legend {
  font-weight: 700;
}

/**********
d3-tip styling
**********/

.d3-tip {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 6px 9px 8px 8px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
  position: absolute;
  pointer-events: none;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -7px;
  left: 0;
  text-align: center;
}

/* Southwest-ward tooltips */
.d3-tip.sw:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -7px;
  right: 9px; /* horizontal position of the arrow */
  text-align: right;

}


