body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #222;
  max-width: 768px;
  margin: 16px;
}

.intro {
  display: block;
  margin: 16px;
}

.team.card {
  display: inline-block;
  margin: 8px 16px 16px 16px;
  border-top: 1px solid #ccc;
  padding-top: 3px;
}

.team.card .header,
svg {
  display: block;
  font-size: 0;
}

p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

h1 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0 0 4px 0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

h3.total {
  text-align: right;
}

rect.bg.red {
  fill: #ef8a62;
}

rect.bg.blue {
  fill: #67a9cf;
}

path.adjusted {
  fill: none;
  stroke: #111;
  stroke-width: 1.25;
}
